Analysis/
Data/NGS/

Data/Genomes/H.sapiens/hg38.genomic.chrM.fa
Data/Genomes/H.sapiens/hg38.genomic.fa
Data/Genomes/H.sapiens/hg38.genomic.fa.fai
Data/Genomes/H.sapiens/hg38.genomic.masked.fa
Data/Genomes/H.sapiens/hg38.genomic_artificial.fa
Data/Genomes/H.sapiens/hg38.genomic_artificial.fa.fai
Data/Genomes/H.sapiens/hg38.genomic_artificial.idx
Data/Genomes/H.sapiens/hg38.tRNAscan.bed12
Data/Genomes/H.sapiens/hg38.tRNAscan.chrM.bed12
Data/Genomes/H.sapiens/hg38.tRNAscan.fa
Data/Genomes/H.sapiens/hg38.tRNAscan.nuc.bed12
Data/Genomes/H.sapiens/hg38.tRNAscan.nuc_mod.bed12
Data/Genomes/H.sapiens/hg38.tRNAscan_cluster.dict
Data/Genomes/H.sapiens/hg38.tRNAscan_cluster.fa
Data/Genomes/H.sapiens/hg38.tRNAscan_cluster.fa.fai
Data/Genomes/H.sapiens/hg38.tRNAscan_cluster.idx
Data/Genomes/H.sapiens/hg38.tRNAscan_cluster_pre-tRNA.dict
Data/Genomes/H.sapiens/hg38.tRNAscan_cluster_pre-tRNA.fa
Data/Genomes/H.sapiens/hg38.tRNAscan_cluster_pre-tRNA.fa.fai
Data/Genomes/H.sapiens/hg38.tRNAscan_cluster_pre-tRNA.idx
Data/Genomes/H.sapiens/hg38.tRNAscan_clusterInfo.fa
Data/Genomes/H.sapiens/hg38.tRNAscan_clusterInfo_pre-tRNA.fa
Data/Genomes/H.sapiens/hg38.tRNAscan_mature.fa
Data/Genomes/H.sapiens/hg38.tRNAscan_pre-tRNAs.bed12
Data/Genomes/H.sapiens/hg38.tRNAscan_pre-tRNAs.fa
Data/Genomes/H.sapiens/tRNAs.txt
Data/Genomes/rRNA/rRNA.bed
Data/Genomes/rRNA/rRNA.dict
Data/Genomes/rRNA/rRNA.fa
Data/Genomes/rRNA/rRNA.fa.fai
Data/Genomes/rRNA/rRNA.idx
